<form class="form mx-auto">
  <h2 class="heading-4 mb-3">Login</h2>
  <div class="mb-4">
    <label class="form__label" for="emailInput"><b>EMAIL</b></label>
    <input
      class="form__control"
      type="email"
      name="email"
      id="emailInput"
      placeholder="Enter your email address"
    />
  </div>
  <div class="mb-4">
    <label class="form__label" for="passwordInput"><b>PASSWORD</b></label>
    <input
      class="form__control"
      type="password"
      name="password"
      id="passwordInput"
      placeholder="Enter your password"
    />
  </div>
  <button class="button button--primary w-100" type="submit">SUBMIT</button>
</form>
